﻿@using System.Net.Http
@inject HttpClient Http
@using Tchat.Model
@inject IState<TchatState> state
@inject IDispatcher dispatcher

<EditForm class="px-3" Model="@room" OnSubmit="@AddRoom">
    <div>
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="room-form">
            <InputText class="mr-1" placeholder="Room name" id="name" @bind-Value="@room.Name" />

            <input class="btn btn-success" type="submit" id="submit" value="+">
        </div>
    </div>
</EditForm>

@code {
    private Room room = new Room();

    private async void AddRoom()
    {
        room.UserID = state.Value.User.ID;
        var response = await Http.PostAsJsonAsync("https://localhost:49969/Room/RoomPost", room);
        if ((int)response.StatusCode == 200)
        {
            Room roomTmp = new Room();
            roomTmp = await response.Content.ReadFromJsonAsync<Room>();
            roomTmp.Name = room.Name;
            roomTmp.UserID = room.UserID;
            var roomList = state.Value.RoomList;
            roomList.Add(roomTmp);
            dispatcher.Dispatch(new AddRoomAction(roomList));
        }
    }
}