﻿@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Microsoft.AspNetCore.SignalR.Client
@using System.Threading.Tasks;
@using System.Net.Http
@inject HttpClient Http
@using Tchat.Store
@using Tchat.Model
@inject IDispatcher dispatcher
@inject IState<TchatState> state
@inject NavigationManager NavManager

<div class="col-md-6">
    <h2 class="title-Connection">Status : @connectionStatus</h2>
</div>

@if (_connection == null)
{
    <div class="col-md-6">
        <EditForm class="form-connection px-4" Model="@user" OnSubmit="@ConnectToServer">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div id="inputText">
                <InputText class="ml-1 mr-1" placeholder="Nom" id="name" @bind-Value="@user.Name" />
                <InputText class="ml-1 mr-1" placeholder="Mot de passe" id="password" @bind-Value="@user.Password" />
            </div>

            <input class="btn btn-success" type="submit" id="submit" value="Connexion">
        </EditForm>
    </div>
}
else
{
    <div class="col-md-6 disconnect">
        <input class="btn btn-danger" type="submit" @onclick="async () => await DisconnecteToServer()" value="Déconnexion">
    </div>
}

@code {
    private string url = "https://localhost:49969/TchatHub";
    private HubConnection _connection = null;
    private string connectionStatus = "fermée ⛔️";
    private User user = new User();


    List<string> messages = new List<string>();

    private async Task ConnectToServer()
    {
        var response = await Http.PostAsJsonAsync("https://localhost:49969/User/LogInPost", user);
        if ((int)response.StatusCode == 200)
        {
            _connection = new HubConnectionBuilder().WithUrl(url).Build();

            await _connection.StartAsync();
            connectionStatus = "Connecté ✅";

            _connection.Closed += async (s) =>
            {
                connectionStatus = "Déconnecté ❌";
                await _connection.StartAsync();
            };

            LoginResponse data = await response.Content.ReadFromJsonAsync<LoginResponse>();
            user.ID = data.UserID;
            dispatcher.Dispatch(new ConnectionAction(_connection, user, data.List, null));
        }
    }

    private async Task DisconnecteToServer()
    {
        if (_connection != null)
        {
            await _connection.StopAsync();
            await _connection.DisposeAsync();

            dispatcher.Dispatch(new DisconnectionAction());
            connectionStatus = "Déconnecté ❌";
            _connection = null;
            NavManager.NavigateTo("/");
        }
    }

}
