﻿@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using System.Net.Http
@inject HttpClient Http
@using Tchat.Model
@inject IState<TchatState> state
@inject IDispatcher dispatcher

@foreach (var room in state.Value.RoomList)
{
    <li class="nav-item px-3">
        <NavLink class="nav-link" href=@($"/Room/{room.ID}") Match="NavLinkMatch.All" @onclick="() => UpdateCurrentRoom(room.ID)">
            <span class="oi oi-chat" aria-hidden="true"></span> @room.Name
        </NavLink>
    </li>
}

@code {
    private void UpdateCurrentRoom(int id)
    {
        foreach (Room room in state.Value.RoomList)
        {
            if (room.ID == id)
            {
                dispatcher.Dispatch(new ChangeCurrentRoomAction(room));
                return;
            }
        }
    }
}