﻿@inject HttpClient Http
@using Tchat.Store
@using Tchat.Model
@inject IDispatcher dispatcher
@inject IState<TchatState> state
@inject NavigationManager NavManager

<EditForm class="register-form" Model="@user" OnSubmit="@RegisterUser">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText class="mt-1 mb-1" placeholder="Name" id="name" @bind-Value="@user.Name" />
    <InputText class="mt-1 mb-1" placeholder="Password" id="password" @bind-Value="@user.Password" />

    <input class="btn btn-success mt-1 mb-1 register-form-button" type="submit" id="submit" value="S'inscrire">
</EditForm>

@code {
    private User user = new User();

    private async void RegisterUser()
    {
        var test = await Http.PostAsJsonAsync("https://localhost:49969/User/RegisterPost", user);
        if ((int)test.StatusCode == 200)
        {
            NavManager.NavigateTo("/");
        }
    }
}
