﻿@using System.Net.Http
@inject HttpClient Http
@inject IState<TchatState> state
@using Microsoft.AspNetCore.SignalR.Client
@using Tchat.Model

<h3>Room @state.Value.CurrentRoom.Name</h3>

<div class="ml-2 mr-2">
    @if (messages != null)
    {
        <div class="scroll">
            @foreach (var message in messages)
            {
                <div class="message-container">
                    <div class="message-info">
                        <p class="name">@message.User.Name</p>
                        <p class="date">@message.Date</p>
                    </div>
                    <p class="message">@message.Content</p>
                </div>
            }
        </div>
    }

    @if (state.Value.Connection != null)
    {
        <div class="bg-light p-3 border mt-3 mb-3 form-message-container">
            <EditForm class="form-message" Model="@message" OnSubmit="@Submit">

                <InputTextArea class="" placeholder="Message" id="message" @bind-Value="message.Content" />

                <input class="btn btn-success" type="submit" id="submit" value="Envoi">
            </EditForm>
        </div>
    }
</div>


@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public List<Message> messages { get; set; }
    public Message message = new Message();

    private async Task Submit()
    {
        message.RoomID = Id;
        message.UserID = state.Value.User.ID;
        await state.Value.Connection.SendAsync("SendMessage", message);
    }

}