﻿@using System.Net.Http
@inject HttpClient Http
@inject IState<TchatState> state
@inject IDispatcher dispatcher
@using Tchat.Model

<h3>RoomList</h3>

<div class="roomList">
    @if (Rooms != null)
    {
        @foreach (var room in Rooms)
        {
            <div class="card room">
                <p class="card-header">@room.Name</p>
                @if (!exist(room.Name))
                {
                    <button class="btn btn-success joinRoomButton" @onclick="@(() => Join(room))">Rejoindre</button>
                } else
                {
                    <button class="btn btn-danger joinRoomButton">Quitter</button>
                }
            </div>
        }
    }
</div>

@code {
    List<Room> Rooms { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Rooms = await Http.GetFromJsonAsync<List<Room>>("https://localhost:49969/Room/GetRooms");
    }

    public bool exist(string roomName)
    {
        foreach(var room in state.Value.RoomList)
        {
            if(room.Name == roomName)
            {
                return true;
            }
        }
        return false;
    }

    public async void Join(Room room)
    {
        RoomUser roomUser = new RoomUser();
        roomUser.RoomID = room.ID;
        roomUser.UserID = state.Value.User.ID;
        var response = await Http.PostAsJsonAsync("https://localhost:49969/Room/JoinRoom", roomUser);
        if((int)response.StatusCode == 200)
        {
            List<Room> list = state.Value.RoomList;
            list.Add(room);
            dispatcher.Dispatch(new AddRoomAction(list));
            StateHasChanged();
        }
    }
}
