﻿@inherits LayoutComponentBase
@using System.Net.Http
@inject HttpClient Http
@using Microsoft.AspNetCore.Components
@using Tchat.Component

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <Connection />
    </div>
    <div class="content px-4 container-fluid">
        @Body
    </div>
</div>

