﻿@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Tchat.Component
@inject IState<TchatState> state

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Tchat</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @if (state.Value.Connection == null)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Register" Match="NavLinkMatch.All">
                    <span class="oi oi-person"></span> Register
                </NavLink>
            </li>
        }
        @if (state.Value.RoomList != null)
        {
            <NavRoomList />
        }
        @if (state.Value.Connection != null)
        {
            <AddRoomForm />
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
