﻿@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Tchat.Component
@inject IState<TchatState> state

<h1>Bienvenu sur le chat 😺</h1>

@if (state.Value.Connection != null)
{
    <RoomList />
}

