﻿@page "/Room/{Id:int}"
@using System.Net.Http
@inject HttpClient Http
@inject IState<TchatState> state
@using Microsoft.AspNetCore.SignalR.Client
@using Tchat.Component
@using Tchat.Model

<RoomMessage Id="@Id" messages="@messages" />

@code {
    [Parameter]
    public int Id { get; set; }
    private List<Message> messages { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        state.Value.Connection.Remove($"{Id}");
        state.Value.Connection.On<Message>($"{Id}", m =>
        {
            messages.Add(m);
            StateHasChanged();
        });
        messages = await Http.GetFromJsonAsync<List<Message>>("https://localhost:49969/Message/GetMessages?roomID=" + $"{Id}");
    }
}