﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    height: fit-content;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a, .main .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.main .top-row a:first-child {
overflow: hidden;
text-overflow: ellipsis;
}

.sidebar {
background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.sidebar .nav-item:first-of-type {
    padding-top: 1rem;
}

.sidebar .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.sidebar .nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.sidebar .nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.sidebar .nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

ul {
    list-style: none !important;
    margin: 0px !important;
    margin-right: 20px !important;
}

textarea {
    resize: none;
}

.disconnect {
    display: flex !important;
    flex-direction: row-reverse !important;
}

.collapse form {
    display: flex;
    flex-direction: row;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.register-form-button {
    margin-left: auto;
    margin-right: auto;
}

.scroll {
    background-color: #e3e5ec;
    padding: 20px;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 76vh;
    padding-bottom: 0px;
}

.message-container {
    background: #f8f9fa;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #dee2e6;
    width: fit-content;
    min-width: 220px;
    max-width: -webkit-fill-available;
}

.message-info {
    display: flex;
    flex-direction: row;
}

.date {
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: auto;
    margin-left: 10px;
}

.name {
    margin-bottom: auto;
    font-size: 20px;
}

.message {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

.form-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-message input {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px !important;
}

.form-message textarea {
    width: 86%;
}

.form-message-container {
    width: 41%;
}

.room-form {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.form-connection {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.form-connection input {
    display: inline-block;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.form-connection #inputText input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.validation-errors {
    list-style: none !important;
    margin: 0px !important;
    margin-right: 5px !important;
    padding: 0px;
    text-align: center;
}

.roomList {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.room {
    margin: 10px;
    min-width: 110px;
    max-width: fit-content;
}

.joinRoomButton {
    margin: 5px;
}

.card-header {
    text-align: center;
}

.title-Connection {
    text-align: left;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 1352px) {
    .form-connection input {
        display: inline-block;
        padding: 5px;
        width: -webkit-fill-available;
        margin: 2px;
    }

    .form-message-container {
        width: 100%;
    }

    .form-connection {
        display: flex;
        justify-content: flex-end;
        margin-right: -15px;
        margin-left: -15px;
        flex-direction: column;
    }

    .form-message {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .register-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    ul .validation-errors {
        list-style: none !important;
        margin: 0px !important;
        margin-right: 5px !important;
        padding: 0px;
        text-align: left;
    }

    #blazor-error-ui {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
}

@media (max-width: 425px) {
    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: center;
        flex-wrap: wrap;
    }

    .title-Connection {
        text-align: center;
    }

    .disconnect {
        display: flex !important;
        justify-content: center;
        padding-bottom: 5px;
    }

    .register-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

@media (min-width: 850px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
